// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "FG Regular";
  src: url("../../../fonts/FG_Regular.otf");
}
@font-face {
  font-family: "FG Semibold";
  src: url("../../../fonts/FG_Semibold.otf");
}
@font-face {
  font-family: "FG Bold";
  src: url("../../../fonts/FG_Bold.otf");
}

// Desktop
.navigation {
  width: 100%;
  height: 200px;
  @include displayElement(flex, center, center);

  .navigation_inner {
    max-width: 1400px;
    @include quickCenter("relative");

    .navigation_logo {
      text-align: center;
      margin-bottom: 30px;
      @include displayElement(inline-flex, center, center);
      @include selection();

      .icon {
        font-size: 40px;
        color: $Tango;
        margin-top: 5px;
        margin-right: 15px;
        @include selection();
      }

      h1 {
        font-family: "FG Bold";
        font-size: $Logo;
        color: $Tango;
        @include selection();

        span {
          color: $Black;
          @include selection();
        }
      }
    }

    .back_link {
      @include displayElement(none, center, center);
      font-family: "FG Semibold";
      font-size: 20px;

      a {
        text-decoration: none;

        &:hover {
          .icon,
          span {
            color: $Tango;
          }
        }

        .icon {
          margin-right: 10px;
          margin-bottom: 4px;
          color: $Tango;
          @include selection();
        }

        span {
          color: $Tundora;
          @include selection();
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
