@font-face {
  font-family: "FG Regular";
  src: url("../../../fonts/FG_Regular.otf");
}
@font-face {
  font-family: "FG Semibold";
  src: url("../../../fonts/FG_Semibold.otf");
}
@font-face {
  font-family: "FG Bold";
  src: url("../../../fonts/FG_Bold.otf");
}
.sample_embed {
  width: 100%;
  height: 800px;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 60px;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
}
.sample_embed span {
  display: block;
  text-align: center;
  font-family: "FG Semibold";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  margin-bottom: 40px;
}
.sample_embed span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed span::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed span span {
  display: inline-block;
  color: #f27d24;
  margin-bottom: 0;
}
.sample_embed span span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed span span::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed span span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed iframe {
  width: 100%;
  height: 100%;
}
.sample_embed iframe::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed iframe::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_embed iframe::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}

.sample_details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.sample_details .sample_details_inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.sample_details .sample_details_inner .sample_id {
  font-family: "FG Regular";
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  color: #f27d24;
}
.sample_details .sample_details_inner .sample_id::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_id::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_id::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner h1 {
  font-family: "FG Bold";
  font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}
.sample_details .sample_details_inner h1::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner h1::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner h1::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_desc {
  font-family: "FG Regular";
  font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  padding-top: 15px;
  padding-bottom: 35px;
}
.sample_details .sample_details_inner .sample_desc::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_desc::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_desc::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price {
  font-family: "FG Semibold";
  font-size: 19px;
  padding-bottom: 10px;
}
.sample_details .sample_details_inner .sample_site_price::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price strong {
  margin-right: 10px;
}
.sample_details .sample_details_inner .sample_site_price strong::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price strong::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price strong::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.sample_details .sample_details_inner .sample_site_price span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price span::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_site_price span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price {
  font-family: "FG Semibold";
  font-size: 19px;
}
.sample_details .sample_details_inner .sample_hosting_price::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price strong {
  margin-right: 10px;
}
.sample_details .sample_details_inner .sample_hosting_price strong::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price strong::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price strong::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.sample_details .sample_details_inner .sample_hosting_price span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price span::selection {
  color: #eeeeee;
  background-color: #f27d24;
}
.sample_details .sample_details_inner .sample_hosting_price span::-moz-selection {
  color: #eeeeee;
  background-color: #f27d24;
}/*# sourceMappingURL=Samples.module.css.map */